body {
    background-color: rgb(48, 47, 47);
}
.card {
    width: 400px;
    height: 500px;

    

}
.part1 {
    background-color: rgb(64, 54, 54);
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 250px;
    z-index: 10;
    margin-top: 125px;
    text-align: center;
    
   
    
}
.part2 {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 250px;
    margin-top: 125px;
    
    
}

.card:hover .part1 {
    background-color: rgb(223, 86, 86);
    transform: translate(0px, -125px );
    transition-duration: 1s;
    
    
}
.card:hover .part2 {
    transform: translate(0px, 125px );
    transition-duration: 1s;
    
}
a {
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    
}
img {
    height: 75px;
    width: 75px;
}
p {
    font-size: 30px;
    padding-left: 10px;
}